<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content" class="ion-text-center">
  <h1><b>EN MANTENIMIENTO</b></h1>
  <ion-icon class="mantenimiento" name="build-outline"></ion-icon>
  <p>Vuelve aquí en la próxima actualización que traerá novedades y mejoras de rendimiento
  </p>
  <img src="assets/img/logo.png" height="300">
  <p>¡Gracias por elegirnos!<br><i>EL EQUIPO DE FILMASER</i></p>

</ion-content>