<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="content">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon
          name="mail"
          class="person">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>
    ¿Se te ha olvidado la contraseña? No te preocupes. Escribe tu correo y podrás cambiar la contraseña.
    ¡Que no se te olvide otra vez!  
  </p>

  <br>

  <ion-item>
    <ion-input
      class="ion-text-center"
      clearInput
      placeholder="Correo electrónico"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <br>

  <ion-button
    expand="block"
    class="capitalize"
    color="toolbar"
    shape="round"
    (click)="resetPassword()">
    Aceptar
  </ion-button>

  <ion-button
    expand="block"
    class="text capitalize"
    color="button"
    shape="round"
    href="/login">
    Cancelar
  </ion-button>
</ion-content>

