<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre la aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content">
  <ion-card color="toolbar" class="ion-text-center">
    <img src="assets/img/logo.png" height="200px">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="hand-left"></ion-icon>
        <b>¡BIENVENIDO A FILMASER!</b>
        <ion-icon name="hand-right"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En esta página podrás ver un buen catálogo de series. Además, puedes añadir las que te gusten a tu lista de
      favoritos.<br><br>
      Esta aplicación está desarrollada por<br> Sergio Toscano Díaz<br>2ºDAM - IES Campanillas
      <br><br>
      En mi github podrás encontrar este proyecto y otros:<br>
      <a id="github" href="https://github.com/sergiotoscanodiaz">Mi Github</a>
    </ion-card-content>
  </ion-card>

</ion-content>
